.App {
  text-align: center;
}

.game-box {
  background-color: #323a4b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

button {
  border-radius: 8px;
  padding: 5px 10px;
  background-color: #6b7885;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8px;
  margin-left: 5px;
}

button:hover {
  background-color: #181c24;

}

.difficulty-container {
  margin-top: 30px;
}

.game-container {
  margin-top: 30px;
}

.selected {
  background-color: #046f36;
}